public/workflows/n8n-workflow-completo-v11.json
 {
   "name": "Agente Robusto COMPLETO v11 - Follow-up, Audio, Vision, Calendar, Photos (Fix)",
   "nodes": [
     {
       "parameters": {
         "numberInputs": 3
       },
       "type": "n8n-nodes-base.merge",
       "typeVersion": 3,
       "position": [4288, 1536],
       "id": "ad05af72-296c-43a7-a60e-476a002ebd1d",
       "name": "Merge"
     },
     {
       "parameters": {
         "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\\\)\nconst itens = texto.split(/\\\\/);\n\n// Processa cada item e identifica fotos\nconst results = [];\nfor (const item of itens) {\n  const trimmed = item.trim();\n  if (trimmed === '') continue;\n  \n  // Check for [FOTO:url] pattern\n  const fotoMatch = trimmed.match(/\\[FOTO:(.*?)\\]/i);\n  if (fotoMatch) {\n    const fotoUrl = fotoMatch[1].trim();\n    const textPart = trimmed.replace(/\\[FOTO:.*?\\]/i, '').trim();\n    if (textPart) {\n      results.push({ item: textPart, isPhoto: false });\n    }\n    results.push({ item: fotoUrl, isPhoto: true });\n  } else {\n    results.push({ item: trimmed, isPhoto: false });\n  }\n}\n\nreturn results;"
       },
       "id": "ce7f447e-2338-4ba9-91fc-29890b142cc7",
       "name": "SEPARA MENSAGENS E FOTOS",
       "type": "n8n-nodes-base.code",
       "typeVersion": 2,
       "position": [4912, 1552]
     },
     {
       "parameters": {
         "options": {}
       },
       "id": "1f7ba1de-d0ec-4307-bfe6-f6f9896b6c05",
       "name": "Loop Over Items1",
       "type": "n8n-nodes-base.splitInBatches",
       "typeVersion": 3,
       "position": [5232, 1552]
     },
     {
       "parameters": {
         "amount": 7
       },
       "type": "n8n-nodes-base.wait",
       "typeVersion": 1.1,
       "position": [3072, 1296],
       "id": "99e50481-13d7-43a9-bac4-5ef13805caa4",
       "name": "PAUSA DE 7 SEGUNDOS",
       "webhookId": "a94026f8-338c-4441-a4d2-1f7633918121"
     },
     {
       "parameters": {
         "amount": 1
       },
       "id": "def0a30a-166a-445a-b7c9-7f07156c6b5b",
       "name": "DELAY 1 SEGUNDO",
       "type": "n8n-nodes-base.wait",
       "typeVersion": 1.1,
       "position": [5920, 1552],
       "webhookId": "dad277f2-a584-45e2-ad70-a45c4229f5e6"
     },
     {
       "parameters": {
         "operation": "select",
         "schema": {
           "__rl": true,
           "mode": "list",
           "value": "public"
         },
         "table": {
           "__rl": true,
           "value": "messages",
           "mode": "list",
           "cachedResultName": "messages"
         },
         "returnAll": false,
         "limit": 30,
         "where": {
           "values": [
             {
               "column": "source_id",
               "value": "=={{ $('Recebe mensagem').item.json.body.data.key.remoteJid }}"
             }
           ]
         },
         "sort": {
           "values": [
             {
               "column": "created_at",
               "direction": "DESC"
             }
           ]
         },
         "options": {}
       },
       "type": "n8n-nodes-base.postgres",
       "typeVersion": 2.6,
       "position": [3296, 1296],
       "id": "44a3bd7f-36e5-4c02-b194-b3e129ddc689",
       "name": "BUSCA MENSAGENS DO USUÁRIO",
       "credentials": {
         "postgres": {
           "id": "Fz6msolNYaIcxg9w",
           "name": "postgres_cloudfy"
         }
       }
     },
     {
       "parameters": {
         "fieldsToSummarize": {
           "values": [
             {
               "aggregation": "concatenate",
               "field": "content"
             }
           ]
         },
         "options": {}
       },
       "type": "n8n-nodes-base.summarize",
       "typeVersion": 1.1,
       "position": [3520, 1296],
       "id": "2b800851-ed8f-4bb1-be2e-bb71ad31b819",
       "name": "AGRUPA MENSAGENS"
     },
     {
       "parameters": {
         "rules": {
           "values": [
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "loose",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}",
                     "rightValue": "conversation",
                     "operator": {
                       "type": "string",
                       "operation": "equals"
                     },
                     "id": "9187681f-1216-4786-9c22-8861c428b577"
                   }
                 ],
                 "combinator": "and"
               },
               "renameOutput": true,
               "outputKey": "texto"
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "loose",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "f21fa68b-70b2-494a-b914-4b15aa5bae3f",
                     "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}",
                     "rightValue": "audioMessage",
                     "operator": {
                       "type": "string",
                       "operation": "equals",
                       "name": "filter.operator.equals"
                     }
                   }
                 ],
                 "combinator": "and"
               },
               "renameOutput": true,
               "outputKey": "Audio"
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "loose",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "dd71e80b-1078-46d5-b367-958e5790a113",
                     "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}",
                     "rightValue": "imageMessage",
                     "operator": {
                       "type": "string",
                       "operation": "equals",
                       "name": "filter.operator.equals"
                     }
                   }
                 ],
                 "combinator": "and"
               },
               "renameOutput": true,
               "outputKey": "Imagem"
             },
             {
               "conditions": {
                 "options": {
                   "caseSensitive": true,
                   "leftValue": "",
                   "typeValidation": "loose",
                   "version": 2
                 },
                 "conditions": [
                   {
                     "id": "document-type-001",
                     "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}",
                     "rightValue": "documentMessage",
                     "operator": {
                       "type": "string",
                       "operation": "equals",
                       "name": "filter.operator.equals"
                     }
                   }
                 ],
                 "combinator": "and"
               },
               "renameOutput": true,
               "outputKey": "Documento"
             }
           ]
         },
         "options": {}
       },
       "type": "n8n-nodes-base.switch",
       "typeVersion": 3.2,
       "position": [2336, 1552],
       "id": "switch-tipo-arquivo-001",
       "name": "Verifica tipo de arquivo"
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "loose",
             "version": 2
           },
           "conditions": [
             {
               "id": "photo-check-001",
               "leftValue": "={{ $json.isPhoto }}",
               "rightValue": true,
               "operator": {
                 "type": "boolean",
                 "operation": "equals"
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "check-if-photo-001",
       "name": "É Foto?",
       "type": "n8n-nodes-base.if",
       "typeVersion": 2.2,
       "position": [5440, 1552]
     },
     {
       "parameters": {
         "resource": "messages-api",
         "instanceName": "={{ $('Coleta').item.json.instance_name }}",
         "remoteJid": "={{ $('Coleta').item.json.telefone }}",
         "messageText": "={{ $json.item }}",
         "options_message": {}
       },
       "type": "n8n-nodes-evolution-api.evolutionApi",
       "typeVersion": 1,
       "position": [5664, 1400],
       "id": "b01322bd-8612-42f1-b028-45aaf7e3bfb6",
       "name": "Envia mensagem de Texto",
       "credentials": {
         "evolutionApi": {
           "id": "few8p7I2K9NB95wi",
           "name": "evolution_cloudfy"
         }
       }
     },
     {
       "parameters": {
          "method": "POST",
          "url": "=https://motionlesstern-evo.cloudfy.live/message/sendMedia/{{ $('Coleta').item.json.instance_name }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Coleta').item.json.telefone.replace('@s.whatsapp.net', '').replace('@c.us', '') }}\",\n  \"mediatype\": \"image\",\n  \"media\": \"{{ $json.item }}\",\n  \"fileName\": \"foto.jpg\"\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
       "position": [5664, 1700],
       "id": "send-photo-001",
        "name": "Envia Foto ao WhatsApp",
        "notesInFlow": true,
        "notes": "IMPORTANTE: Configure 'HTTP Header Auth' credential com Name=apikey e Value=sua_api_key_evolution",
        "credentials": {
          "httpHeaderAuth": {
            "id": "",
            "name": "evolution_api_key"
          }
        }
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "5356af18-19e2-43c7-a230-a250eae425cf",
               "name": "text",
               "value": "={{ $('AGRUPA MENSAGENS').item.json.concatenated_content }}",
               "type": "string"
             },
             {
               "id": "prompt-001",
               "name": "prompt",
               "value": "={{ $('Coleta').item.json.prompt }}",
               "type": "string"
             },
             {
               "id": "instance-001",
               "name": "instance_name",
               "value": "={{ $('Coleta').item.json.instance_name }}",
               "type": "string"
             },
             {
               "id": "photos-001",
               "name": "agent_photos",
               "value": "={{ $('Coleta').item.json.agent_photos }}",
               "type": "string"
             },
             {
               "id": "telefone-001",
               "name": "telefone",
               "value": "={{ $('Coleta').item.json.telefone }}",
               "type": "string"
             },
             {
               "id": "calendar-enabled-001",
               "name": "calendar_enabled",
               "value": "={{ $('Coleta').item.json.calendar_enabled || 'false' }}",
               "type": "string"
             },
             {
               "id": "calendar-token-001",
               "name": "calendar_refresh_token",
               "value": "={{ $('Coleta').item.json.calendar_refresh_token || '' }}",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "type": "n8n-nodes-base.set",
       "typeVersion": 3.4,
       "position": [3920, 1296],
       "id": "b12abb5f-3104-43ce-8f59-4afe42adbb54",
       "name": "output mensagem"
     },
     {
       "parameters": {
         "schema": {
           "__rl": true,
           "value": "public",
           "mode": "list",
           "cachedResultName": "public"
         },
         "table": {
           "__rl": true,
           "value": "messages",
           "mode": "list"
         },
         "columns": {
           "mappingMode": "defineBelow",
           "value": {
             "status": 0,
             "created_at": "={{ $now }}",
             "updated_at": "={{ $now }}",
             "id": "={{ $execution.id }}",
             "inbox_id": 1,
             "conversation_id": 1,
             "message_type": 0,
             "source_id": "=={{ $('Coleta').item.json.telefone }}",
             "content": "=={{ $('Coleta').item.json.mensagem }}",
             "account_id": 1,
             "content_type": 0,
             "sender_id": 0
           },
           "matchingColumns": ["id"],
           "schema": [
             {
               "id": "id",
               "displayName": "id",
               "required": false,
               "defaultMatch": true,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "content",
               "displayName": "content",
               "required": false,
               "defaultMatch": false,
               "display": true,
               "type": "string",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "account_id",
               "displayName": "account_id",
               "required": true,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "inbox_id",
               "displayName": "inbox_id",
               "required": true,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "conversation_id",
               "displayName": "conversation_id",
               "required": true,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "message_type",
               "displayName": "message_type",
               "required": true,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "created_at",
               "displayName": "created_at",
               "required": true,
               "defaultMatch": false,
               "display": true,
               "type": "dateTime",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "updated_at",
               "displayName": "updated_at",
               "required": true,
               "defaultMatch": false,
               "display": true,
               "type": "dateTime",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "private",
               "displayName": "private",
               "required": false,
               "defaultMatch": false,
               "display": true,
               "type": "boolean",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "status",
               "displayName": "status",
               "required": false,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "source_id",
               "displayName": "source_id",
               "required": false,
               "defaultMatch": false,
               "display": true,
               "type": "string",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "content_type",
               "displayName": "content_type",
               "required": false,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             },
             {
               "id": "sender_id",
               "displayName": "sender_id",
               "required": false,
               "defaultMatch": false,
               "display": true,
               "type": "number",
               "canBeUsedToMatch": true,
               "removed": false
             }
           ],
           "attemptToConvertTypes": false,
           "convertFieldsToString": false
         },
         "options": {}
       },
       "type": "n8n-nodes-base.postgres",
       "typeVersion": 2.6,
       "position": [2864, 1296],
       "id": "b97ff8b0-f70e-402f-ae05-5e3e6dd6e43a",
       "name": "REGISTRA MENSAGEM2",
       "credentials": {
         "postgres": {
           "id": "Fz6msolNYaIcxg9w",
           "name": "postgres_cloudfy"
         }
       }
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "bb5f3999-fed4-44e1-972f-1397a3c6fee6",
               "name": "nome",
               "value": "={{ $json.body?.data?.pushName || $json.data?.pushName || '' }}",
               "type": "string"
             },
             {
               "id": "65cf5864-7b1f-457f-8007-0a2bc0380a3c",
               "name": "telefone",
               "value": "={{ $json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '' }}",
               "type": "string"
             },
             {
               "id": "be20cf5a-21c3-47e1-8344-fd78b9d04bff",
               "name": "tipo",
               "value": "={{ $json.body?.data?.messageType || $json.data?.messageType || $json.messageType || '' }}",
               "type": "string"
             },
             {
               "id": "cf2af045-3ffa-4d58-8a2d-c5cb8f85f849",
               "name": "mensagem",
               "value": "={{ $json.body?.data?.message?.conversation || $json.body?.message || $json.message || '' }}",
               "type": "string"
             },
             {
               "id": "prompt-field-001",
               "name": "prompt",
               "value": "={{ $json.body?.prompt || $json.prompt || '' }}",
               "type": "string"
             },
             {
               "id": "instance-field-001",
               "name": "instance_name",
               "value": "={{ $json.body?.instance_name || $json.instance_name || $json.body?.instance || $json.instance || '' }}",
               "type": "string"
             },
             {
               "id": "photos-field-001",
               "name": "agent_photos",
               "value": "={{ $json.body?.agent_photos || $json.agent_photos || '[]' }}",
               "type": "string"
             },
             {
               "id": "audio-url-001",
               "name": "audio_url",
               "value": "={{ $json.body?.audioMessage?.url || $json.audioMessage?.url || $json.body?.data?.message?.audioMessage?.url || $json.data?.message?.audioMessage?.url || $json.mediaUrl || '' }}",
               "type": "string"
             },
             {
               "id": "image-url-001",
               "name": "image_url",
               "value": "={{ $json.body?.data?.message?.imageMessage?.url || $json.data?.message?.imageMessage?.url || $json.body?.imageMessage?.url || $json.imageMessage?.url || '' }}",
               "type": "string"
             },
             {
               "id": "document-url-001",
               "name": "document_url",
               "value": "={{ $json.body?.data?.message?.documentMessage?.url || $json.data?.message?.documentMessage?.url || $json.body?.documentMessage?.url || $json.documentMessage?.url || '' }}",
               "type": "string"
             },
             {
               "id": "document-name-001",
               "name": "document_name",
               "value": "={{ $json.body?.data?.message?.documentMessage?.fileName || $json.data?.message?.documentMessage?.fileName || 'document.pdf' }}",
               "type": "string"
             },
             {
               "id": "calendar-enabled-001",
               "name": "calendar_enabled",
               "value": "={{ $json.body?.calendar_enabled || $json.calendar_enabled || 'false' }}",
               "type": "string"
             },
             {
               "id": "calendar-token-001",
               "name": "calendar_refresh_token",
               "value": "={{ $json.body?.calendar_refresh_token || $json.calendar_refresh_token || '' }}",
               "type": "string"
             },
             {
               "id": "followup-enabled-001",
               "name": "followup_enabled",
               "value": "={{ $json.body?.followup_enabled || $json.followup_enabled || 'false' }}",
               "type": "string"
             },
             {
               "id": "followup-delay-001",
               "name": "followup_delay",
               "value": "={{ $json.body?.followup_delay || $json.followup_delay || '12h' }}",
               "type": "string"
             },
             {
               "id": "followup-message-001",
               "name": "followup_message",
               "value": "={{ $json.body?.followup_message || $json.followup_message || 'Olá! Vi que você não avançou ainda. Ficou com alguma dúvida? Posso ajudar?' }}",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "type": "n8n-nodes-base.set",
       "typeVersion": 3.4,
       "position": [2048, 1552],
       "id": "043ac797-92e0-4930-8908-6b0ca227b791",
       "name": "Coleta"
     },
     {
       "parameters": {
         "promptType": "define",
         "text": "={{ $('AGRUPA MENSAGENS').item.json.concatenated_content }}",
         "options": {
           "systemMessage": "=As instruções abaixo são INFORMAÇÕES OFICIAIS do negócio.\nElas são verdadeiras, autorizadas e devem ser seguidas como FONTE ÚNICA DA VERDADE.\n\nVocê DEVE:\n- Seguir rigorosamente todas as instruções do negócio\n- Usar nome, identidade, tom e papel definidos\n- Fornecer links, preços, produtos e informações exatamente como descrito\n- Responder como humano representante da empresa\n- Sempre redirecionar para o site quando existir\n- Nunca dizer que é uma IA\n- Nunca dizer que não tem acesso ou não pode informar\n\nÉ PROIBIDO:\n- Inventar respostas\n- Omitir links ou dados fornecidos\n- Negar identidade quando definida\n- Sair do escopo do negócio\n\n## FOTOS DISPONÍVEIS\nVocê tem acesso às seguintes fotos que pode enviar quando relevante para a conversa:\n{{ $json.agent_photos }}\n\nPara enviar uma foto, responda incluindo [FOTO:url_da_foto] no texto.\nExemplo: 'Olha só esse modelo! [FOTO:https://exemplo.com/oculos.jpg]'\n\n## AGENDAMENTO DE HORÁRIOS\n{{ $json.calendar_enabled === 'true' ? 'Você pode verificar horários disponíveis e agendar compromissos. Use as tools disponíveis para consultar a agenda e criar eventos.' : 'Agendamento não está habilitado para este agente.' }}\n\nINSTRUÇÕES DO NEGÓCIO:\n{{ $json.prompt }}"
         }
       },
       "type": "@n8n/n8n-nodes-langchain.agent",
       "typeVersion": 1.7,
       "position": [4480, 1552],
       "id": "ced0eeaa-111d-4deb-ae5f-465384980843",
       "name": "AGENTE DE I.A.",
       "retryOnFail": true,
       "maxTries": 3,
       "waitBetweenTries": 5000
     },
     {
       "parameters": {
         "sessionIdType": "customKey",
         "sessionKey": "={{ $('Coleta').item.json.telefone }}"
       },
       "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
       "typeVersion": 1.3,
       "position": [4656, 1888],
       "id": "55828067-143d-4fde-b2d4-08f5802355ab",
       "name": "Simple Memory"
     },
     {
       "parameters": {
         "httpMethod": "POST",
         "path": "5ca49874-447c-46fc-9e4a-3a2bc8f98afd",
         "responseMode": "lastNode",
         "options": {}
       },
       "type": "n8n-nodes-base.webhook",
       "typeVersion": 2.1,
       "position": [1712, 1552],
       "id": "28687214-4f0f-4bce-b322-4cd1fd1a266f",
       "name": "Recebe mensagem",
       "webhookId": "5ca49874-447c-46fc-9e4a-3a2bc8f98afd"
     },
     {
       "parameters": {
         "model": "openai/gpt-4o",
         "options": {}
       },
       "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
       "typeVersion": 1,
       "position": [4400, 1888],
       "id": "6a80eaec-446c-435f-84c8-c2f41046c0ba",
       "name": "OpenRouter Chat Model",
       "credentials": {
         "openRouterApi": {
           "id": "E1Ti9T6sbIQWi06F",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "method": "POST",
         "url": "https://api.groq.com/openai/v1/audio/transcriptions",
         "sendHeaders": true,
         "headerParameters": {
           "parameters": [
             {
               "name": "Authorization",
               "value": "Bearer {{ $credentials.groqApi.apiKey }}"
             }
           ]
         },
         "sendBody": true,
         "contentType": "multipart-form-data",
         "bodyParameters": {
           "parameters": [
             {
               "name": "file",
               "parameterType": "formBinaryData",
               "inputDataFieldName": "data"
             },
             {
               "name": "model",
               "value": "whisper-large-v3"
             },
             {
               "name": "language",
               "value": "pt"
             }
           ]
         },
         "options": {}
       },
       "id": "groq-transcription-001",
       "name": "Groq Audio Transcription",
       "type": "n8n-nodes-base.httpRequest",
       "typeVersion": 4.2,
       "position": [2864, 1600],
       "credentials": {
         "httpHeaderAuth": {
           "id": "groq-api-key",
           "name": "Groq API Key"
         }
       }
     },
     {
       "parameters": {
         "url": "={{ $('Coleta').item.json.audio_url }}",
         "options": {
           "response": {
             "response": {
               "responseFormat": "file"
             }
           }
         }
       },
       "id": "download-audio-001",
       "name": "Download Audio",
       "type": "n8n-nodes-base.httpRequest",
       "typeVersion": 4.2,
       "position": [2700, 1600]
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "transcription-001",
               "name": "mensagem",
               "value": "={{ $json.text }}",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "id": "set-transcription-001",
       "name": "Set Transcription as Message",
       "type": "n8n-nodes-base.set",
       "typeVersion": 3.4,
       "position": [3050, 1600]
     },
     {
       "parameters": {
         "url": "={{ $('Coleta').item.json.image_url }}",
         "options": {
           "response": {
             "response": {
               "responseFormat": "file"
             }
           }
         }
       },
       "id": "download-image-001",
       "name": "Download Image",
       "type": "n8n-nodes-base.httpRequest",
       "typeVersion": 4.2,
       "position": [2700, 1900]
     },
     {
       "parameters": {
         "method": "POST",
         "url": "https://openrouter.ai/api/v1/chat/completions",
         "authentication": "predefinedCredentialType",
         "nodeCredentialType": "openRouterApi",
         "sendBody": true,
         "specifyBody": "json",
         "jsonBody": "={\n  \"model\": \"openai/gpt-4o\",\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": [\n        {\n          \"type\": \"text\",\n          \"text\": \"Analise esta imagem detalhadamente. Se for um comprovante de pagamento, extraia: valor, data, banco/instituição, e quaisquer outras informações relevantes. Se for outro tipo de imagem, descreva o que você vê de forma útil para o atendimento.\"\n        },\n        {\n          \"type\": \"image_url\",\n          \"image_url\": {\n            \"url\": \"data:image/jpeg;base64,{{ $binary.data.data }}\"\n          }\n        }\n      ]\n    }\n  ]\n}",
         "options": {}
       },
       "id": "vision-analyze-image-001",
       "name": "OpenRouter Vision - Analyze Image",
       "type": "n8n-nodes-base.httpRequest",
       "typeVersion": 4.2,
       "position": [2864, 1900],
       "credentials": {
         "openRouterApi": {
           "id": "E1Ti9T6sbIQWi06F",
           "name": "OpenRouter account"
         }
       }
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "vision-result-001",
               "name": "mensagem",
               "value": "=[Imagem enviada pelo cliente - Análise:] {{ $json.choices[0].message.content }}",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "id": "set-vision-result-001",
       "name": "Set Vision Analysis as Message",
       "type": "n8n-nodes-base.set",
       "typeVersion": 3.4,
       "position": [3050, 1900]
     },
     {
       "parameters": {
         "url": "={{ $('Coleta').item.json.document_url }}",
         "options": {
           "response": {
             "response": {
               "responseFormat": "file"
             }
           }
         }
       },
       "id": "download-document-001",
       "name": "Download Document",
       "type": "n8n-nodes-base.httpRequest",
       "typeVersion": 4.2,
       "position": [2700, 2200]
     },
     {
       "parameters": {
         "operation": "pdf",
         "options": {}
       },
       "id": "extract-pdf-001",
       "name": "Extract from PDF",
       "type": "n8n-nodes-base.extractFromFile",
       "typeVersion": 1,
       "position": [2864, 2200]
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "pdf-result-001",
               "name": "mensagem",
               "value": "=[Documento PDF enviado pelo cliente - Conteúdo:] {{ $json.text }}",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "id": "set-pdf-result-001",
       "name": "Set PDF Content as Message",
       "type": "n8n-nodes-base.set",
       "typeVersion": 3.4,
       "position": [3050, 2200]
     },
     {
       "parameters": {
         "name": "check_calendar_availability",
         "description": "Verifica os horários disponíveis na agenda do profissional para os próximos dias. Use quando o cliente perguntar sobre horários disponíveis, quiser agendar algo, ou mencionar consulta/reunião/atendimento.",
         "workflowId": {
           "__rl": true,
           "mode": "id",
           "value": "={{ $execution.workflowId }}"
         },
         "fields": {
           "values": [
             {
               "name": "days_ahead",
               "description": "Número de dias à frente para verificar (padrão: 7)",
               "type": "number"
             }
           ]
         }
       },
       "id": "tool-check-calendar-001",
       "name": "Tool: Check Calendar",
       "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
       "typeVersion": 2,
       "position": [4200, 2000]
     },
     {
       "parameters": {
         "name": "create_calendar_event",
         "description": "Cria um agendamento na agenda do profissional. Use quando o cliente confirmar um horário específico para agendar.",
         "workflowId": {
           "__rl": true,
           "mode": "id",
           "value": "={{ $execution.workflowId }}"
         },
         "fields": {
           "values": [
             {
               "name": "event_title",
               "description": "Título do evento (nome do cliente + tipo de atendimento)",
               "type": "string"
             },
             {
               "name": "start_datetime",
               "description": "Data e hora de início no formato ISO (YYYY-MM-DDTHH:mm:ss)",
               "type": "string"
             },
             {
               "name": "end_datetime",
               "description": "Data e hora de término no formato ISO (YYYY-MM-DDTHH:mm:ss)",
               "type": "string"
             },
             {
               "name": "client_phone",
               "description": "Telefone do cliente para contato",
               "type": "string"
             }
           ]
         }
       },
       "id": "tool-create-event-001",
       "name": "Tool: Create Calendar Event",
       "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
       "typeVersion": 2,
       "position": [4350, 2000]
     },
     {
       "parameters": {
         "operation": "getAll",
         "calendar": {
           "__rl": true,
           "mode": "list",
           "value": "primary",
           "cachedResultName": "Calendário Principal"
         },
         "returnAll": false,
         "limit": 50,
         "options": {
           "timeMin": "={{ $now.toISO() }}",
           "timeMax": "={{ $now.plus({ days: $json.days_ahead || 7 }).toISO() }}"
         }
       },
       "id": "calendar-get-events-001",
       "name": "Get Calendar Events",
       "type": "n8n-nodes-base.googleCalendar",
       "typeVersion": 1.2,
       "position": [4600, 2200],
       "credentials": {
         "googleCalendarOAuth2Api": {
           "id": "google-calendar-chatasn",
           "name": "Google Calendar ChatASN Brasil"
         }
       }
     },
     {
       "parameters": {
         "jsCode": "// Recebe eventos do calendário e calcula slots disponíveis\nconst events = $input.all();\nconst daysAhead = 7;\n\n// Horário comercial: 8h às 18h (UTC-3)\nconst businessStart = 8;\nconst businessEnd = 18;\nconst slotDuration = 60; // minutos\n\nconst availableSlots = [];\nconst today = new Date();\n\nfor (let d = 0; d < daysAhead; d++) {\n  const date = new Date(today);\n  date.setDate(date.getDate() + d);\n  \n  // Skip weekends\n  if (date.getDay() === 0 || date.getDay() === 6) continue;\n  \n  const dateStr = date.toISOString().split('T')[0];\n  \n  // Get busy times for this day\n  const busyTimes = events\n    .filter(e => e.json.start?.dateTime?.startsWith(dateStr))\n    .map(e => ({\n      start: new Date(e.json.start.dateTime).getHours(),\n      end: new Date(e.json.end.dateTime).getHours()\n    }));\n  \n  // Find free slots\n  const daySlots = [];\n  for (let hour = businessStart; hour < businessEnd; hour++) {\n    const isBusy = busyTimes.some(b => hour >= b.start && hour < b.end);\n    if (!isBusy) {\n      daySlots.push(`${hour.toString().padStart(2, '0')}:00`);\n    }\n  }\n  \n  if (daySlots.length > 0) {\n    availableSlots.push({\n      date: dateStr,\n      dayOfWeek: date.toLocaleDateString('pt-BR', { weekday: 'long' }),\n      slots: daySlots\n    });\n  }\n}\n\nreturn [{ json: { availableSlots, summary: availableSlots.map(d => `${d.dayOfWeek} (${d.date}): ${d.slots.join(', ')}`).join('\\n') } }];"
       },
       "id": "calculate-free-slots-001",
       "name": "Calculate Free Slots",
       "type": "n8n-nodes-base.code",
       "typeVersion": 2,
       "position": [4800, 2200]
     },
     {
       "parameters": {
         "operation": "create",
         "calendar": {
           "__rl": true,
           "mode": "list",
           "value": "primary",
           "cachedResultName": "Calendário Principal"
         },
         "summary": "={{ $json.event_title }}",
         "start": "={{ $json.start_datetime }}",
         "end": "={{ $json.end_datetime }}",
         "additionalFields": {
           "description": "=Agendamento via ChatASN WhatsApp\nTelefone: {{ $json.client_phone }}"
         }
       },
       "id": "calendar-create-event-001",
       "name": "Create Calendar Event",
       "type": "n8n-nodes-base.googleCalendar",
       "typeVersion": 1.2,
       "position": [4600, 2400],
       "credentials": {
         "googleCalendarOAuth2Api": {
           "id": "google-calendar-chatasn",
           "name": "Google Calendar ChatASN Brasil"
         }
       }
     },
     {
       "parameters": {
         "httpMethod": "POST",
         "path": "followup-trigger",
         "responseMode": "lastNode",
         "options": {}
       },
       "type": "n8n-nodes-base.webhook",
       "typeVersion": 2.1,
       "position": [800, 2600],
       "id": "followup-webhook-001",
       "name": "Follow-up Webhook",
       "webhookId": "followup-trigger-webhook"
     },
     {
       "parameters": {
         "jsCode": "// Verifica se está em horário comercial (8h-18h UTC-3)\nconst now = new Date();\nconst utcHour = now.getUTCHours();\nconst brazilHour = (utcHour - 3 + 24) % 24;\n\nconst isBusinessHours = brazilHour >= 8 && brazilHour < 18;\nconst dayOfWeek = now.getDay();\nconst isWeekday = dayOfWeek >= 1 && dayOfWeek <= 5;\n\nconst canSend = isBusinessHours && isWeekday;\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    canSendFollowup: canSend,\n    currentBrazilHour: brazilHour,\n    reason: !canSend ? (isWeekday ? 'Fora do horário comercial' : 'Final de semana') : 'OK'\n  }\n}];"
       },
       "id": "check-business-hours-001",
       "name": "Check Business Hours",
       "type": "n8n-nodes-base.code",
       "typeVersion": 2,
       "position": [1000, 2600]
     },
     {
       "parameters": {
         "conditions": {
           "options": {
             "caseSensitive": true,
             "leftValue": "",
             "typeValidation": "loose",
             "version": 2
           },
           "conditions": [
             {
               "id": "can-send-followup-001",
               "leftValue": "={{ $json.canSendFollowup }}",
               "rightValue": true,
               "operator": {
                 "type": "boolean",
                 "operation": "equals"
               }
             }
           ],
           "combinator": "and"
         },
         "options": {}
       },
       "id": "if-business-hours-001",
       "name": "If Business Hours",
       "type": "n8n-nodes-base.if",
       "typeVersion": 2.2,
       "position": [1200, 2600]
     },
     {
       "parameters": {
         "resource": "messages-api",
         "instanceName": "={{ $json.instance_name }}",
         "remoteJid": "={{ $json.remote_jid }}",
         "messageText": "={{ $json.followup_message || 'Olá! Vi que você não avançou ainda. Ficou com alguma dúvida? Há algo que eu possa fazer por você?' }}",
         "options_message": {}
       },
       "type": "n8n-nodes-evolution-api.evolutionApi",
       "typeVersion": 1,
       "position": [1400, 2500],
       "id": "send-followup-message-001",
       "name": "Send Follow-up Message",
       "credentials": {
         "evolutionApi": {
           "id": "few8p7I2K9NB95wi",
           "name": "evolution_cloudfy"
         }
       }
     },
     {
       "parameters": {
         "assignments": {
           "assignments": [
             {
               "id": "followup-result-001",
               "name": "result",
               "value": "Follow-up postponed - outside business hours (current hour: {{ $json.currentBrazilHour }})",
               "type": "string"
             }
           ]
         },
         "options": {}
       },
       "id": "followup-postponed-001",
       "name": "Follow-up Postponed",
       "type": "n8n-nodes-base.set",
       "typeVersion": 3.4,
       "position": [1400, 2700]
     }
   ],
   "pinData": {},
   "connections": {
     "Merge": {
       "main": [
         [
           {
             "node": "AGENTE DE I.A.",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Loop Over Items1": {
       "main": [
         [],
         [
           {
             "node": "É Foto?",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "SEPARA MENSAGENS E FOTOS": {
       "main": [
         [
           {
             "node": "Loop Over Items1",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "PAUSA DE 7 SEGUNDOS": {
       "main": [
         [
           {
             "node": "BUSCA MENSAGENS DO USUÁRIO",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "DELAY 1 SEGUNDO": {
       "main": [
         [
           {
             "node": "Loop Over Items1",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "BUSCA MENSAGENS DO USUÁRIO": {
       "main": [
         [
           {
             "node": "AGRUPA MENSAGENS",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "AGRUPA MENSAGENS": {
       "main": [
         [
           {
             "node": "output mensagem",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Verifica tipo de arquivo": {
       "main": [
         [
           {
             "node": "REGISTRA MENSAGEM2",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Download Audio",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Download Image",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Download Document",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "É Foto?": {
       "main": [
         [
           {
             "node": "Envia Foto ao WhatsApp",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Envia mensagem de Texto",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Envia mensagem de Texto": {
       "main": [
         [
           {
             "node": "DELAY 1 SEGUNDO",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Envia Foto ao WhatsApp": {
       "main": [
         [
           {
             "node": "DELAY 1 SEGUNDO",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "REGISTRA MENSAGEM2": {
       "main": [
         [
           {
             "node": "PAUSA DE 7 SEGUNDOS",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Coleta": {
       "main": [
         [
           {
             "node": "Verifica tipo de arquivo",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "AGENTE DE I.A.": {
       "main": [
         [
           {
             "node": "SEPARA MENSAGENS E FOTOS",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "output mensagem": {
       "main": [
         [
           {
             "node": "Merge",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Recebe mensagem": {
       "main": [
         [
           {
             "node": "Coleta",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Chat Model": {
       "ai_languageModel": [
         [
           {
             "node": "AGENTE DE I.A.",
             "type": "ai_languageModel",
             "index": 0
           }
         ]
       ]
     },
     "Simple Memory": {
       "ai_memory": [
         [
           {
             "node": "AGENTE DE I.A.",
             "type": "ai_memory",
             "index": 0
           }
         ]
       ]
     },
     "Download Audio": {
       "main": [
         [
           {
             "node": "Groq Audio Transcription",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Groq Audio Transcription": {
       "main": [
         [
           {
             "node": "Set Transcription as Message",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Set Transcription as Message": {
       "main": [
         [
           {
             "node": "REGISTRA MENSAGEM2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Download Image": {
       "main": [
         [
           {
             "node": "OpenRouter Vision - Analyze Image",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "OpenRouter Vision - Analyze Image": {
       "main": [
         [
           {
             "node": "Set Vision Analysis as Message",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Set Vision Analysis as Message": {
       "main": [
         [
           {
             "node": "REGISTRA MENSAGEM2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Download Document": {
       "main": [
         [
           {
             "node": "Extract from PDF",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Extract from PDF": {
       "main": [
         [
           {
             "node": "Set PDF Content as Message",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Set PDF Content as Message": {
       "main": [
         [
           {
             "node": "REGISTRA MENSAGEM2",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Tool: Check Calendar": {
       "ai_tool": [
         [
           {
             "node": "AGENTE DE I.A.",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "Tool: Create Calendar Event": {
       "ai_tool": [
         [
           {
             "node": "AGENTE DE I.A.",
             "type": "ai_tool",
             "index": 0
           }
         ]
       ]
     },
     "Get Calendar Events": {
       "main": [
         [
           {
             "node": "Calculate Free Slots",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Follow-up Webhook": {
       "main": [
         [
           {
             "node": "Check Business Hours",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "Check Business Hours": {
       "main": [
         [
           {
             "node": "If Business Hours",
             "type": "main",
             "index": 0
           }
         ]
       ]
     },
     "If Business Hours": {
       "main": [
         [
           {
             "node": "Send Follow-up Message",
             "type": "main",
             "index": 0
           }
         ],
         [
           {
             "node": "Follow-up Postponed",
             "type": "main",
             "index": 0
           }
         ]
       ]
     }
   },
   "active": true,
   "settings": {
     "executionOrder": "v1"
   },
   "versionId": "v10-completo-followup-audio-vision-calendar-photos",
   "meta": {
     "instanceId": "a9ef29f4ac61a561642ba7e43bf46b5ceb2f3719f46f88a06854f9950d410342"
   },
   "id": "workflow-completo-v10",
   "tags": ["audio-transcription", "calendar", "photos", "followup", "vision", "pdf", "complete"]
 }