public/workflows/n8n-workflow-completo.json
{
  "name": "Bruno Gabarra: Agente Robusto com Follow-up, Audio, Calendar e Fotos",
  "nodes": [
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [4288, 1536],
      "id": "ad05af72-296c-43a7-a60e-476a002ebd1d",
      "name": "Merge"
    },
    {
      "parameters": {
        "jsCode": "// Recebe o texto de entrada\nconst texto = $input.first().json.output;\n\n// Divide o texto apenas pela sequência de barra invertida dupla (\\\\)\nconst itens = texto.split(/\\\\/);\n\n// Retorna cada item como um objeto separado, filtrando itens vazios\nreturn itens\n  .filter(item => item.trim() !== \"\")\n  .map(item => ({ item }));"
      },
      "id": "ce7f447e-2338-4ba9-91fc-29890b142cc7",
      "name": "SEPARA MENSAGENS2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [4912, 1552]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1f7ba1de-d0ec-4307-bfe6-f6f9896b6c05",
      "name": "Loop Over Items1",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [5232, 1552]
    },
    {
      "parameters": {
        "amount": 7
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [3072, 1296],
      "id": "99e50481-13d7-43a9-bac4-5ef13805caa4",
      "name": "PAUSA DE 7 SEGUNDOS",
      "webhookId": "a94026f8-338c-4441-a4d2-1f7633918121"
    },
    {
      "parameters": {
        "amount": 1
      },
      "id": "def0a30a-166a-445a-b7c9-7f07156c6b5b",
      "name": "DELAY 1 SEGUNDO",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [5664, 1552],
      "webhookId": "dad277f2-a584-45e2-ad70-a45c4229f5e6"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "returnAll": true,
        "where": {
          "values": [
            {
              "column": "source_id",
              "value": "=={{ $('Recebe mensagem').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3296, 1296],
      "id": "44a3bd7f-36e5-4c02-b194-b3e129ddc689",
      "name": "BUSCA MENSAGENS DO USUÁRIO",
      "credentials": {
        "postgres": {
          "id": "Fz6msolNYaIcxg9w",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "fieldsToSummarize": {
          "values": [
            {
              "aggregation": "concatenate",
              "field": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.summarize",
      "typeVersion": 1.1,
      "position": [3520, 1296],
      "id": "2b800851-ed8f-4bb1-be2e-bb71ad31b819",
      "name": "AGRUPA MENSAGENS"
    },
    {
      "parameters": {
        "operation": "deleteTable",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list",
          "cachedResultName": "messages"
        },
        "deleteCommand": "delete",
        "where": {
          "values": [
            {
              "column": "source_id",
              "value": "=={{ $('Recebe mensagem').item.json.body.data.key.remoteJid }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [3728, 1296],
      "id": "ae10629c-7510-4aa9-bf88-73c211d5d07d",
      "name": "DELETA MENSAGENS",
      "credentials": {
        "postgres": {
          "id": "Fz6msolNYaIcxg9w",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}",
                    "rightValue": "conversation",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9187681f-1216-4786-9c22-8861c428b577"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "texto"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f21fa68b-70b2-494a-b914-4b15aa5bae3f",
                    "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}",
                    "rightValue": "audioMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Audio"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "dd71e80b-1078-46d5-b367-958e5790a113",
                    "leftValue": "={{ $('Recebe mensagem').item.json.body.data.messageType }}\n",
                    "rightValue": "imageMessage",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Imagem"
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.3,
      "position": [2496, 1536],
      "id": "ced1bdc4-ce84-4452-8033-72802278c70d",
      "name": "Verifica tipo de arquivo"
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Coleta').item.json.instance_name }}",
        "remoteJid": "={{ $('Coleta').item.json.telefone }}",
        "messageText": "={{ $json.item }}",
        "options_message": {}
      },
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [5472, 1552],
      "id": "b01322bd-8612-42f1-b028-45aaf7e3bfb6",
      "name": "Envia mensagem para o WhatsApp",
      "credentials": {
        "evolutionApi": {
          "id": "few8p7I2K9NB95wi",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5356af18-19e2-43c7-a230-a250eae425cf",
              "name": "text",
              "value": "={{ $('AGRUPA MENSAGENS').item.json.concatenated_content }}",
              "type": "string"
            },
            {
              "id": "prompt-001",
              "name": "prompt",
              "value": "={{ $('Coleta').item.json.prompt }}",
              "type": "string"
            },
            {
              "id": "instance-001",
              "name": "instance_name",
              "value": "={{ $('Coleta').item.json.instance_name }}",
              "type": "string"
            },
            {
              "id": "followup-001",
              "name": "followup_enabled",
              "value": "={{ $('Coleta').item.json.followup_enabled }}",
              "type": "boolean"
            },
            {
              "id": "followup-002",
              "name": "followup_delay",
              "value": "={{ $('Coleta').item.json.followup_delay }}",
              "type": "string"
            },
            {
              "id": "followup-003",
              "name": "followup_message",
              "value": "={{ $('Coleta').item.json.followup_message }}",
              "type": "string"
            },
            {
              "id": "photos-001",
              "name": "agent_photos",
              "value": "={{ $('Coleta').item.json.agent_photos }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3920, 1296],
      "id": "b12abb5f-3104-43ce-8f59-4afe42adbb54",
      "name": "output mensagem"
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": 0,
            "created_at": "={{ $now }}",
            "updated_at": "={{ $now }}",
            "id": "={{ $execution.id }}",
            "inbox_id": 1,
            "conversation_id": 1,
            "message_type": 0,
            "source_id": "=={{ $('Coleta').item.json.telefone }}",
            "content": "=={{ $('Coleta').item.json.mensagem }}",
            "account_id": 1,
            "content_type": 0,
            "sender_id": 0
          },
          "matchingColumns": ["id"],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content",
              "displayName": "content",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "account_id",
              "displayName": "account_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "inbox_id",
              "displayName": "inbox_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "conversation_id",
              "displayName": "conversation_id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "message_type",
              "displayName": "message_type",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "private",
              "displayName": "private",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "source_id",
              "displayName": "source_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "content_type",
              "displayName": "content_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "sender_id",
              "displayName": "sender_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [2864, 1296],
      "id": "b97ff8b0-f70e-402f-ae05-5e3e6dd6e43a",
      "name": "REGISTRA MENSAGEM2",
      "credentials": {
        "postgres": {
          "id": "Fz6msolNYaIcxg9w",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bb5f3999-fed4-44e1-972f-1397a3c6fee6",
              "name": "nome",
              "value": "={{ $json.body?.data?.pushName || $json.data?.pushName || '' }}",
              "type": "string"
            },
            {
              "id": "65cf5864-7b1f-457f-8007-0a2bc0380a3c",
              "name": "telefone",
              "value": "={{ $json.body?.data?.key?.remoteJid || $json.data?.key?.remoteJid || '' }}",
              "type": "string"
            },
            {
              "id": "be20cf5a-21c3-47e1-8344-fd78b9d04bff",
              "name": "tipo",
              "value": "={{ $json.body?.data?.messageType || $json.data?.messageType || '' }}",
              "type": "string"
            },
            {
              "id": "cf2af045-3ffa-4d58-8a2d-c5cb8f85f849",
              "name": "mensagem",
              "value": "={{ $json.body?.data?.message?.conversation || $json.body?.message || $json.message || '' }}",
              "type": "string"
            },
            {
              "id": "prompt-field-001",
              "name": "prompt",
              "value": "={{ $json.body?.prompt || $json.prompt || '' }}",
              "type": "string"
            },
            {
              "id": "instance-field-001",
              "name": "instance_name",
              "value": "={{ $json.body?.instance_name || $json.instance_name || $json.body?.instance || $json.instance || '' }}",
              "type": "string"
            },
            {
              "id": "followup-enabled-001",
              "name": "followup_enabled",
              "value": "={{ $json.body?.followup_enabled || $json.followup_enabled || false }}",
              "type": "boolean"
            },
            {
              "id": "followup-delay-001",
              "name": "followup_delay",
              "value": "={{ $json.body?.followup_delay || $json.followup_delay || '24h' }}",
              "type": "string"
            },
            {
              "id": "followup-message-001",
              "name": "followup_message",
              "value": "={{ $json.body?.followup_message || $json.followup_message || '' }}",
              "type": "string"
            },
            {
              "id": "photos-field-001",
              "name": "agent_photos",
              "value": "={{ $json.body?.agent_photos || $json.agent_photos || '[]' }}",
              "type": "string"
            },
            {
              "id": "audio-url-001",
              "name": "audio_url",
              "value": "={{ $json.body?.data?.message?.audioMessage?.url || $json.data?.message?.audioMessage?.url || '' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [2048, 1552],
      "id": "043ac797-92e0-4930-8908-6b0ca227b791",
      "name": "Coleta"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AGRUPA MENSAGENS').item.json.concatenated_content }}",
        "options": {
          "systemMessage": "=As instruções abaixo são INFORMAÇÕES OFICIAIS do negócio.\nElas são verdadeiras, autorizadas e devem ser seguidas como FONTE ÚNICA DA VERDADE.\n\nVocê DEVE:\n- Seguir rigorosamente todas as instruções do negócio\n- Usar nome, identidade, tom e papel definidos\n- Fornecer links, preços, produtos e informações exatamente como descrito\n- Responder como humano representante da empresa\n- Sempre redirecionar para o site quando existir\n- Nunca dizer que é uma IA\n- Nunca dizer que não tem acesso ou não pode informar\n\nÉ PROIBIDO:\n- Inventar respostas\n- Omitir links ou dados fornecidos\n- Negar identidade quando definida\n- Sair do escopo do negócio\n\n## FOTOS DISPONÍVEIS\nVocê tem acesso às seguintes fotos que pode enviar quando relevante para a conversa:\n{{ $json.agent_photos }}\n\nPara enviar uma foto, responda incluindo [FOTO:url_da_foto] no texto.\n\nINSTRUÇÕES DO NEGÓCIO:\n{{ $json.prompt }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [4480, 1552],
      "id": "ced0eeaa-111d-4deb-ae5f-465384980843",
      "name": "AGENTE DE I.A.",
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Coleta').item.json.telefone }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [4656, 1888],
      "id": "55828067-143d-4fde-b2d4-08f5802355ab",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "5ca49874-447c-46fc-9e4a-3a2bc8f98afd",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [1712, 1552],
      "id": "28687214-4f0f-4bce-b322-4cd1fd1a266f",
      "name": "Recebe mensagem",
      "webhookId": "5ca49874-447c-46fc-9e4a-3a2bc8f98afd"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS public.messages (\n    id BIGINT PRIMARY KEY,\n    content TEXT,\n    account_id INTEGER NOT NULL DEFAULT 1,\n    inbox_id INTEGER NOT NULL DEFAULT 1,\n    conversation_id INTEGER NOT NULL DEFAULT 1,\n    message_type INTEGER NOT NULL DEFAULT 0,\n    created_at TIMESTAMP NOT NULL DEFAULT NOW(),\n    updated_at TIMESTAMP NOT NULL DEFAULT NOW(),\n    private BOOLEAN DEFAULT FALSE,\n    status INTEGER DEFAULT 0,\n    source_id VARCHAR(255),\n    content_type INTEGER DEFAULT 0,\n    sender_id INTEGER DEFAULT 0\n);\n\nCREATE INDEX IF NOT EXISTS idx_messages_source_id ON public.messages(source_id);\nCREATE INDEX IF NOT EXISTS idx_messages_created_at ON public.messages(created_at);\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1712, 1344],
      "id": "125e5585-0b90-41ec-8ce9-aa8c8a3af6db",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "Fz6msolNYaIcxg9w",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [4400, 1888],
      "id": "6a80eaec-446c-435f-84c8-c2f41046c0ba",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "E1Ti9T6sbIQWi06F",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 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"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "parameterType": "formBinaryData",
              "inputDataFieldName": "audio"
            },
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "language",
              "value": "pt"
            }
          ]
        },
        "options": {}
      },
      "id": "groq-transcription-001",
      "name": "Groq Audio Transcription",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2864, 1600]
    },
    {
      "parameters": {
        "url": "={{ $('Coleta').item.json.audio_url }}",
        "options": {}
      },
      "id": "download-audio-001",
      "name": "Download Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2700, 1600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "transcription-001",
              "name": "mensagem",
              "value": "={{ $json.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "set-transcription-001",
      "name": "Set Transcription as Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [3050, 1600]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "followup-check-001",
              "leftValue": "={{ $('Coleta').item.json.followup_enabled }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "followup-check-node-001",
      "name": "Check Follow-up Enabled",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [5800, 1552]
    },
    {
      "parameters": {
        "jsCode": "const delay = $('Coleta').item.json.followup_delay;\nlet waitSeconds = 86400; // default 24h\n\nswitch(delay) {\n  case '30min':\n    waitSeconds = 1800;\n    break;\n  case '24h':\n    waitSeconds = 86400;\n    break;\n  case '3d':\n    waitSeconds = 259200;\n    break;\n}\n\nreturn [{ waitSeconds }];"
      },
      "id": "followup-delay-calc-001",
      "name": "Calculate Follow-up Delay",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [5950, 1500]
    },
    {
      "parameters": {
        "amount": "={{ $json.waitSeconds }}",
        "unit": "seconds"
      },
      "id": "followup-wait-001",
      "name": "Wait for Follow-up",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [6100, 1500],
      "webhookId": "followup-wait-webhook-001"
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "list"
        },
        "where": {
          "values": [
            {
              "column": "source_id",
              "value": "=={{ $('Coleta').item.json.telefone }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "created_at",
              "direction": "DESC"
            }
          ]
        },
        "limit": 1,
        "options": {}
      },
      "id": "followup-check-last-msg-001",
      "name": "Check Last Message Time",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [6250, 1500],
      "credentials": {
        "postgres": {
          "id": "Fz6msolNYaIcxg9w",
          "name": "postgres_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const lastMessage = $input.first().json;\nconst delay = $('Coleta').item.json.followup_delay;\nconst customMessage = $('Coleta').item.json.followup_message;\n\nlet delayMs;\nswitch(delay) {\n  case '30min': delayMs = 30 * 60 * 1000; break;\n  case '24h': delayMs = 24 * 60 * 60 * 1000; break;\n  case '3d': delayMs = 3 * 24 * 60 * 60 * 1000; break;\n  default: delayMs = 24 * 60 * 60 * 1000;\n}\n\nconst lastMsgTime = new Date(lastMessage.created_at).getTime();\nconst now = Date.now();\nconst shouldSendFollowup = (now - lastMsgTime) >= delayMs;\n\nreturn [{\n  shouldSendFollowup,\n  customMessage: customMessage || '',\n  timeSinceLastMessage: now - lastMsgTime\n}];"
      },
      "id": "followup-should-send-001",
      "name": "Should Send Follow-up",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [6400, 1500]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "should-send-check-001",
              "leftValue": "={{ $json.shouldSendFollowup }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "followup-if-send-001",
      "name": "If Should Send Follow-up",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [6550, 1500]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Continue a conversa com o lead de forma natural. Contexto: o lead parou de responder há algum tempo. {{ $json.customMessage ? 'Use esta mensagem como base: ' + $json.customMessage : 'Envie uma mensagem de reengajamento natural e amigável.' }}",
        "options": {
          "systemMessage": "={{ $('output mensagem').item.json.prompt }}"
        }
      },
      "id": "followup-ai-001",
      "name": "Generate Follow-up Message",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [6700, 1450]
    },
    {
      "parameters": {
        "resource": "messages-api",
        "instanceName": "={{ $('Coleta').item.json.instance_name }}",
        "remoteJid": "={{ $('Coleta').item.json.telefone }}",
        "messageText": "={{ $json.output }}",
        "options_message": {}
      },
      "id": "followup-send-msg-001",
      "name": "Send Follow-up Message",
      "type": "n8n-nodes-evolution-api.evolutionApi",
      "typeVersion": 1,
      "position": [6850, 1450],
      "credentials": {
        "evolutionApi": {
          "id": "few8p7I2K9NB95wi",
          "name": "evolution_cloudfy"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary",
          "cachedResultName": "Calendário Principal"
        },
        "returnAll": false,
        "limit": 10,
        "options": {
          "timeMin": "={{ $now.toISO() }}",
          "timeMax": "={{ $now.plus({ days: 7 }).toISO() }}"
        }
      },
      "id": "calendar-check-availability-001",
      "name": "Check Calendar Availability",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [4200, 2000],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-chatasn",
          "name": "Google Calendar ChatASN Brasil"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "calendar": {
          "__rl": true,
          "mode": "list",
          "value": "primary",
          "cachedResultName": "Calendário Principal"
        },
        "summary": "={{ $json.eventTitle }}",
        "start": "={{ $json.eventStart }}",
        "end": "={{ $json.eventEnd }}",
        "additionalFields": {
          "description": "Agendamento via ChatASN"
        }
      },
      "id": "calendar-create-event-001",
      "name": "Create Calendar Event",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [4400, 2000],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "google-calendar-chatasn",
          "name": "Google Calendar ChatASN Brasil"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Merge": {
      "main": [
        [
          {
            "node": "AGENTE DE I.A.",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Envia mensagem para o WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SEPARA MENSAGENS2": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PAUSA DE 7 SEGUNDOS": {
      "main": [
        [
          {
            "node": "BUSCA MENSAGENS DO USUÁRIO",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELAY 1 SEGUNDO": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "BUSCA MENSAGENS DO USUÁRIO": {
      "main": [
        [
          {
            "node": "AGRUPA MENSAGENS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGRUPA MENSAGENS": {
      "main": [
        [
          {
            "node": "DELETA MENSAGENS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DELETA MENSAGENS": {
      "main": [
        [
          {
            "node": "output mensagem",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica tipo de arquivo": {
      "main": [
        [
          {
            "node": "REGISTRA MENSAGEM2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Download Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia mensagem para o WhatsApp": {
      "main": [
        [
          {
            "node": "DELAY 1 SEGUNDO",
            "type": "main",
            "index": 0
          },
          {
            "node": "Check Follow-up Enabled",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REGISTRA MENSAGEM2": {
      "main": [
        [
          {
            "node": "PAUSA DE 7 SEGUNDOS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Coleta": {
      "main": [
        [
          {
            "node": "Verifica tipo de arquivo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AGENTE DE I.A.": {
      "main": [
        [
          {
            "node": "SEPARA MENSAGENS2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "output mensagem": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recebe mensagem": {
      "main": [
        [
          {
            "node": "Coleta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AGENTE DE I.A.",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Follow-up Message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AGENTE DE I.A.",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download Audio": {
      "main": [
        [
          {
            "node": "Groq Audio Transcription",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Audio Transcription": {
      "main": [
        [
          {
            "node": "Set Transcription as Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Transcription as Message": {
      "main": [
        [
          {
            "node": "REGISTRA MENSAGEM2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Follow-up Enabled": {
      "main": [
        [
          {
            "node": "Calculate Follow-up Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Follow-up Delay": {
      "main": [
        [
          {
            "node": "Wait for Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Follow-up": {
      "main": [
        [
          {
            "node": "Check Last Message Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Last Message Time": {
      "main": [
        [
          {
            "node": "Should Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Send Follow-up": {
      "main": [
        [
          {
            "node": "If Should Send Follow-up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Send Follow-up": {
      "main": [
        [
          {
            "node": "Generate Follow-up Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Follow-up Message": {
      "main": [
        [
          {
            "node": "Send Follow-up Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "v2-followup-audio-calendar-photos",
  "meta": {
    "instanceId": "a9ef29f4ac61a561642ba7e43bf46b5ceb2f3719f46f88a06854f9950d410342"
  },
  "id": "S3ZXwfQ9FPLJFF4s",
  "tags": ["follow-up", "audio-transcription", "calendar", "photos"]
}
